html
    head
        meta(name="vievport" content="width=device-width, initial-scale=1.0" )
        title="Google login"
        link(rel="stylesheet" type="text/css" href="style.css")
    body
        h1 Zaloguj za pomocą google
        a(href="http://localhost:3000/auth/google") Login with Google Account
