html
    head
        meta(name="vievport" content="width=device-width, initial-scale=1.0" )
        title="Logged user view"
        link(rel="stylesheet" type="text/css" href="style.css")
    body
        h1 Welcome #{name}